.c1{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin-bottom: 100px;
}
.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin-bottom: 100px;
}

.c3{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
   
}
