body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    color: ##3f1919;
    padding: 3em 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('header-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: ##090202;
    font-weight: bold;
    font-size: 1.2em;
}

section {
    padding: 2em 0;
    background-color: #f9f9f9;
}

.project {
    margin-bottom: 20px;
}

footer {
    padding: 1em 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav {
        text-align: center;
        margin-top: 10px;
    }

    nav ul {
        display: block;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 1em 0;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 2em 0;
    }

    nav a {
        font-size: 1em;
    }

    section {
        padding: 1em 0;
    }
}
