.block{
    border: 2px solid black;
    margin: auto;
    width: 5%;
    height: 50%;
}

h2,button,p{
    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #9e0a0a;
  }
body{
    background-image: -moz-linear-gradient(red,rgb(255, 255, 9),rgb(9, 207, 9));
    background-repeat: no-repeat;
    padding: 5%;
    margin: 10%;
}
